@import "tailwindcss";
.scale{
    transform: scale(0.35);
  }

@media screen and (min-width:480px){
  .scale{
    transform: scale(0.4);
  }
}
@media screen and (min-width: 750px) {
  .scale {
   transform: scale(0.50);
  }
}
@media screen and (min-width: 1000px) {
  .scale {
   transform: scale(0.80);
  }
}
@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}


@media print {

  body * {
    visibility: hidden;
  }

  .printable,
  .printable * {
    visibility: visible;
  }

  .printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

}
